body, button, input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

button {
  border: 3px solid #000;
  background-color: #fff;
  font-size: 20px;
}

button:hover {
  box-shadow: 3px 3px 0px 0px #000;
}

input[type] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 3px;
  -webkit-appearance: none;
  border-radius: 0;
}

#map {
  height: 303px;
}

.frame {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 30px;
}

.frame > * {
  flex: 1 100%;
}

@media all and (max-width: 600px) {
  .frame {
    -webkit-flex-flow: row wrap;
  }

  .form {
    padding-top: 30px;
  }
}
@media all and (min-width: 601px) {
  .form {
    padding-left: 30px;
  }
}
