html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'Roboto', sans-serif;
}

.pure-form input[type=text] {
  border: none;
  box-shadow: none;
}

.pure-button {
  color: white;
  background-color: #64b3f4;
}

.pure-button:hover {
  box-shadow: none;
}

.subscribe {
  margin-left: 5px;
}

.background {
  height: 700px;
  background: linear-gradient(#64b3f4 10%, #c2e59c 90%);
}

.claim {
  color: white;
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
}

.claim-small {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
}

.number-input {
  width: 180px;
}

.max-wind, .location, .email {
  width: 380px;
}
